tqdm==4.46.0
numpy==1.18.1
torch_scatter==2.0.4
torch==1.5.0+cu101
botocore==1.16.15
requests==2.23.0
nltk==3.5
boto3==1.13.15
apex==0.9.10dev
data_utils==0.0.7
graphviz==0.16
pandas==1.2.1
PyYAML==5.4.1
scikit_learn==0.24.1
scipy==1.6.0
tensorboardX==2.1
tensorflow==2.4.0
visdom==0.1.8.9
